<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018. Shuto版权所有
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_1165873169281" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>MAXIMO Web Application</display-name>
    <context-param>
        <param-name>loginpage</param-name>
        <param-value>../jsp/common/system/login.jsp</param-value>
    </context-param>


    <!-- ======================== 单点登录开始 ======================== -->
    <!--单点登出过滤器-->
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://10.42.5.251/cas</param-value>
        </init-param>
    </filter>

    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>

    <!--用来跳转登录-->
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <!--<filter-class>org.jasig.cas.client.authentication.Saml11AuthenticationFilter</filter-class>-->
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://10.42.5.251/cas/login</param-value>
        </init-param>
        <init-param>
            <!-- 把子系统注册给认证中心 这里的ip是各个子应用所部署的服务器地址-->
            <param-name>serverName</param-name>
            <!--这是客户端的部署地址，认证时会带着这个地址，认证成功后会跳转到这个地址-->
            <param-value>http://10.42.5.243:9080/maximo/ui/sso</param-value>
        </init-param>
    </filter>

    <!--Ticket校验过滤器-->
    <!-- 请求参数ticket验证（ticket即子系统与CAS系统进行交互的凭证） -->
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <!--<filter-class>org.jasig.cas.client.validation.Saml11TicketValidationFilter</filter-class>-->
        <filter-class>org.jasig.cas.client.validation.Cas30ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://10.42.5.251/cas/</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://10.42.5.243:9080/maximo/ui/sso/</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>useSession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!-- 该过滤器负责实现HttpServletRequest请求的包裹，比如允许开发者通过HttpServletRequest的getRemoteUser()方法获得SSO登录用户的登录名，可选配置-->
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>

    <!-- 该过滤器使得开发者可以通过org.jasig.cas.client.util.AssertionHolder来获取用户的登录名。 比如AssertionHolder.getAssertion().getPrincipal().getName()-->
    <filter>
        <filter-name>CASAssertion Thread LocalFilter</filter-name>
        <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CASAssertion Thread LocalFilter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>
    <!--认证通过后登陆maximo-->
    <filter>
        <filter-name>SSOFilter</filter-name>
        <filter-class>com.shuto.mam.gzrd.SsoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SSOFilter</filter-name>
        <url-pattern>/ui/sso</url-pattern>
    </filter-mapping>

    <!--注销SSO-->
    <!--<filter>-->
        <!--<filter-name>SSOOut</filter-name>-->
        <!--<filter-class>com.shuto.mam.gzrd.SsoOut</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>SSOOut</filter-name>-->
        <!--<url-pattern>/ui/sso/out</url-pattern>-->
    <!--</filter-mapping>-->

    <!--===================单点登陆结束============================-->
    <!--ADDCONTEXTPARAMHERE-->

    <!-- Uncomment this section for Multi-tenant environment with application server security enabled
    <filter>
        <filter-name>TenantRealmFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.TenantRealmFilter</filter-class>
    </filter-->
    <filter>
        <filter-name>MTContextFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.MTContextFilter</filter-class>
    </filter>

    <!-- Uncomment this line to add X-FrameOptions to HTTP response header -->
    <filter>
        <filter-name>HttpXFrameOptionsFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.HttpXFrameOptionsFilter</filter-class>
        <init-param>
            <param-name>X-Frame-Options</param-name>
            <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>HttpMaxAgeFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.HttpMaxAgeFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>max-age=2764800</param-value>
        </init-param>
        <init-param>
            <param-name>Pragma</param-name>
            <param-value>max-age=2764800</param-value>
        </init-param>
    </filter>

    <!-- Uncomment this line for Maximo Activity Dashboard   -->
    <filter>
        <filter-name>PerfMon</filter-name>
        <filter-class>psdi.webclient.system.filter.PerformanceMonitor</filter-class>
    </filter>
    <!-- Uncomment this line for CollerationFilter   -->
    <filter>
        <filter-name>HttpLoggingCollerationFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.MXCorrelationFilter</filter-class>
    </filter>

    <!-- Uncomment these lines to enable the EventTracking filter
    <filter>
        <filter-name>EventTrackingFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.EventTrackingFilter</filter-class>
    </filter>
    -->

    <!-- Uncomment this line for Cross Site Scripting Problem -->
    <filter>
        <filter-name>HttpCrossSiteScriptingSecurity</filter-name>
        <filter-class>psdi.webclient.system.filter.HttpCrossSiteScriptingSecurity</filter-class>
        <init-param>
            <param-name>script</param-name>
            <param-value>script</param-value>
        </init-param>

    </filter>


    <!-- Uncomment this line to enable response HttpGZIPFilter.
    <filter>
        <filter-name>HttpGZIPFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.HttpGZIPFilter</filter-class>
    </filter>
    -->
    <!-- Uncomment these lines to enable byte count filter.  Remove init-param if desire is to see output in dos window.
    <filter>
        <filter-name>HttpThroughputFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.HttpThroughputFilter</filter-class>
        <init-param>
            <param-name>output-filename</param-name>
            <param-value>c:\merlin\HttpThroughputFilter.txt</param-value>
        </init-param>
    </filter>
    -->
    <!-- Uncomment these lines to enable the modified new byte count filter.  Change "saveoutput" value to "false" if desire is to see output in dos window.
    <filter>
        <filter-name>HttpAppThroughputFilter</filter-name>
        <filter-class>psdi.webclient.system.filter.HttpAppThroughputFilter</filter-class>
        <init-param>
            <param-name>output-filename</param-name>
            <param-value>c:\harrier\HttpAppThroughputFilter.csv</param-value>
        </init-param>
                <init-param>
            <param-name>saveoutput</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    -->

    <filter>
        <filter-name>ReportRequestFilter</filter-name>
        <filter-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportRequestFilter</filter-class>
    </filter>

    <!--ADDFILTERHERE-->

    <!-- Uncomment this section for Multi-tenant environment with application server security enabled
    <filter-mapping>
      <filter-name>TenantRealmFilter</filter-name>
      <url-pattern>/j_security_check/*</url-pattern>
    </filter-mapping-->
    <filter-mapping>
        <filter-name>MTContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MTContextFilter</filter-name>
        <url-pattern>/dp/*</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>HttpXFrameOptionsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpMaxAgeFilter</filter-name>
        <url-pattern>/webclient/javascript/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpMaxAgeFilter</filter-name>
        <url-pattern>/webclient/images/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpMaxAgeFilter</filter-name>
        <url-pattern>/webclient/login/images/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpMaxAgeFilter</filter-name>
        <url-pattern>/webclient/css/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpMaxAgeFilter</filter-name>
        <url-pattern>/webclient/skins/*</url-pattern>
    </filter-mapping>

    <!-- Uncomment this line for Maximo Activity Dashboard -->
    <filter-mapping>
        <filter-name>PerfMon</filter-name>
        <url-pattern>/ui/*</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>HttpLoggingCollerationFilter</filter-name>
        <url-pattern>/ui/*</url-pattern>
    </filter-mapping>

    <!-- Uncomment this line for Cross Site Scripting Problem-->
    <filter-mapping>
        <filter-name>HttpCrossSiteScriptingSecurity</filter-name>
        <url-pattern>/ui/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpCrossSiteScriptingSecurity</filter-name>
        <url-pattern>/report/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpCrossSiteScriptingSecurity</filter-name>
        <url-pattern>/webclient/utility/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpCrossSiteScriptingSecurity</filter-name>
        <url-pattern>/webclient/imi/*</url-pattern>
    </filter-mapping>

    <!-- Uncomment these lines to enable the EventTracking filter
    <filter-mapping>
            <filter-name>EventTrackingFilter</filter-name>
          <url-pattern>/ui/*</url-pattern>
      </filter-mapping>
    <filter-mapping>
            <filter-name>EventTrackingFilter</filter-name>
           <url-pattern>/webclient/login/logout.jsp</url-pattern>
      </filter-mapping>
    -->

    <!-- Uncomment this line to enable response HttpGZIPFilter.
    <filter-mapping>
      <filter-name>HttpGZIPFilter</filter-name>
      <url-pattern>/ui/*</url-pattern>
    </filter-mapping>
  -->
    <!-- Uncomment these lines to enable byte counting of http requests
      <filter-mapping>
        <filter-name>HttpThroughputFilter</filter-name>
        <url-pattern>/ui/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>HttpThroughputFilter</filter-name>
        <url-pattern>/webclient/javascript/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>HttpThroughputFilter</filter-name>
        <url-pattern>/webclient/images/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>HttpThroughputFilter</filter-name>
        <url-pattern>/webclient/controls/*/*.css</url-pattern>
      </filter-mapping>
      -->
    <!-- Uncomment these lines to enable the new byte counting of http requests
    <filter-mapping>
      <filter-name>HttpAppThroughputFilter</filter-name>
      <url-pattern>/ui/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>HttpAppThroughputFilter</filter-name>
      <url-pattern>/webclient/javascript/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>HttpAppThroughputFilter</filter-name>
      <url-pattern>/webclient/images/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>HttpAppThroughputFilter</filter-name>
      <url-pattern>/webclient/css/*.css</url-pattern>
    </filter-mapping>
      -->

    <filter-mapping>
        <filter-name>ReportRequestFilter</filter-name>
        <url-pattern>/report/*</url-pattern>
    </filter-mapping>
    <!--ADDFILTERMAPPINGHERE-->

    <servlet>
        <servlet-name>wfmapservlet</servlet-name>
        <servlet-class>psdi.webclient.servlet.WFMapServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>webclient</servlet-name>
        <servlet-class>psdi.webclient.servlet.WebClientServlet</servlet-class>
        <init-param>
            <!-- The character encoding the servlet will use for all http requests and
                 request responses.  -->
            <param-name>char_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>dataproxy</servlet-name>
        <servlet-class>psdi.webclient.servlet.DataProxyServlet</servlet-class>
        <init-param>
            <!-- The character encoding the servlet will use for all http requests and
                 request responses.  -->
            <param-name>char_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>lnrservlet</servlet-name>
        <servlet-class>psdi.webclient.servlet.LnrServlet</servlet-class>
    </servlet>

    <servlet>
        <description>This servlet is used for secure attachment link</description>
        <servlet-name>secureprovider</servlet-name>
        <servlet-class>psdi.webclient.servlet.RedirectServlet</servlet-class>
        <init-param>
            <!-- The character encoding the servlet will use for all http requests and
                 request responses.  -->
            <param-name>char_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>This servlet interfaces with Maximo controls.</description>
        <servlet-name>ControlInterfaceServlet</servlet-name>
        <servlet-class>psdi.webclient.servlet.ControlInterfaceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SilentPrintServlet</servlet-name>
        <servlet-class>psdi.webclient.beans.report.SilentPrintServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>sessionservlet</servlet-name>
        <servlet-class>psdi.webclient.servlet.SessionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>recordimageservlet</servlet-name>
        <servlet-class>psdi.webclient.servlet.RecordImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>assetimageservlet</servlet-name>
        <servlet-class>psdi.webclient.servlet.AssetImageServlet</servlet-class>
    </servlet>

    <servlet>

        <servlet-name>migration</servlet-name>

        <servlet-class>psdi.webclient.servlet.MigrationServlet</servlet-class>

    </servlet>


    <servlet>

        <servlet-name>intdownload</servlet-name>

        <servlet-class>psdi.webclient.servlet.IntegrationFileDownloadServlet</servlet-class>

    </servlet>


    <!-- BIRT REPORT SERVLETS BEGIN -->

    <servlet>
        <description>Starts and sets up Report platform</description>
        <display-name>Report Web Application Startup Servlet</display-name>
        <servlet-name>ReportWebAppStartupServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportWebAppStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description>Report Bridge Servlet</description>
        <display-name>Report Bridge Servlet</display-name>
        <servlet-name>ReportBridgeServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.bridge.launcher.BridgeServlet</servlet-class>
        <init-param>
            <param-name>frameworkLauncherClass</param-name>
            <param-value>com.ibm.tivoli.maximo.report.birt.servlet.MXWebAppOSGiFrameworkLauncher</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <description>Processes all report requests</description>
        <display-name>Report Request Process Servlet</display-name>
        <servlet-name>ReportRequestProcessServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportRequestProcessServlet</servlet-class>
        <init-param>
            <param-name>bridgeservletmap</param-name>
            <param-value>/bridge/</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <description>Allows the executed report contents to be downloaded</description>
        <display-name>Report Download Process Servlet</display-name>
        <servlet-name>ReportDownloadProcessServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportDownloadProcessServlet</servlet-class>
        <init-param>
            <param-name>bridgeservletmap</param-name>
            <param-value>/bridge/</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <description>Allows the executed report contents to be extracted</description>
        <display-name>Report Extract Process Servlet</display-name>
        <servlet-name>ReportExtractProcessServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportExtractProcessServlet</servlet-class>
        <init-param>
            <param-name>bridgeservletmap</param-name>
            <param-value>/bridge/</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <description>This servlet is used for secure attachment printing of MS Office docs</description>
        <servlet-name>reportattacheddocsservlet</servlet-name>
        <servlet-class>psdi.webclient.beans.report.ReportAttachedDocsServlet</servlet-class>
        <init-param>
            <!-- The character encoding the servlet will use for all http requests and
                 request responses.  -->
            <param-name>char_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <!-- BIRT REPORT SERVLETS END -->

    <!-- SCHEDULER SERVLETS START -->

    <servlet>
        <description>Scheduler Servlet</description>
        <display-name>Scheduler Servlet</display-name>
        <servlet-name>SchedulerServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.skd.servlet.SKDServlet</servlet-class>
    </servlet>

    <!--SCHEDULER SERVLETS END -->

    <servlet>
        <description>Report Output Servlet</description>
        <display-name>Report Output Servlet</display-name>
        <servlet-name>ReportOutputDownloadServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportOutputDownloadServlet</servlet-class>
    </servlet>

    <servlet>
        <description>Report Source File Download Servlet</description>
        <display-name>Report Export Download Servlet</display-name>
        <servlet-name>ReportExportDownloadServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.report.birt.servlet.ReportExportDownloadServlet</servlet-class>
    </servlet>

    <!--REST SERVLETS START -->

    <servlet>
        <display-name>REST Servlet for Web App</display-name>
        <servlet-name>RESTServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.rest.MaximoRestServlet</servlet-class>
        <init-param>
            <!-- The character encoding the servlet will use for all http requests-->
            <param-name>char_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <!--
        <load-on-startup>5</load-on-startup>
        -->
    </servlet>
    <servlet>
        <display-name>TOKEN Servlet for Web App</display-name>
        <servlet-name>TOKENServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.rest.MXTokenVerifierServlet</servlet-class>
    </servlet>
    <!---->
    <servlet>
        <display-name>OSLC Servlet for Web App</display-name>
        <servlet-name>OSLCServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.oslc.provider.MaximoOslcProviderServlet</servlet-class>
        <init-param>
            <param-name>char_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>


    <!--REST SERVLETS END -->

    <!--  OAUTH SERVLETS BEGIN -->
    <servlet>
        <display-name>OAuthConsumerCallbackServlet</display-name>
        <servlet-name>OAuthConsumerCallbackServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.oauth.consumer.webclient.ConsumerCallbackServlet</servlet-class>
    </servlet>
    <!--  OAUTH SERVLETS END -->

    <!--  OPTIMIZATION SERVLETS BEGIN -->
    <servlet>
        <description>Starts and sets up Optimization folders</description>
        <display-name>Optimization Startup Servlet</display-name>
        <servlet-name>OptimizationStartupServlet</servlet-name>
        <servlet-class>com.ibm.tivoli.maximo.optimization.OptimizationStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--  OPTIMIZATION SERVLETS END -->

    <servlet-mapping>
        <servlet-name>OAuthConsumerCallbackServlet</servlet-name>
        <url-pattern>/oauthcallback/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RESTServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TOKENServlet</servlet-name>
        <url-pattern>/token/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OSLCServlet</servlet-name>
        <url-pattern>/oslc/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ReportBridgeServlet</servlet-name>
        <url-pattern>/bridge/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportRequestProcessServlet</servlet-name>
        <url-pattern>/report/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportDownloadProcessServlet</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportDownloadProcessServlet</servlet-name>
        <url-pattern>/output/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportExtractProcessServlet</servlet-name>
        <url-pattern>/extract/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportOutputDownloadServlet</servlet-name>
        <url-pattern>/downloadoutput/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportExportDownloadServlet</servlet-name>
        <url-pattern>/downloadexport/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>reportattacheddocsservlet</servlet-name>
        <url-pattern>/reportattacheddocsservlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>webclient</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dataproxy</servlet-name>
        <url-pattern>/dp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>lnrservlet</servlet-name>
        <url-pattern>/lnr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>secureprovider</servlet-name>
        <url-pattern>/servlet/secureprovider</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControlInterfaceServlet</servlet-name>
        <url-pattern>/ControlInterfaceServlet/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>wfmapservlet</servlet-name>
        <url-pattern>/wfmap/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>sessionservlet</servlet-name>
        <url-pattern>/servlet/sessionservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recordimageservlet</servlet-name>
        <url-pattern>/recordimage/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SilentPrintServlet</servlet-name>
        <url-pattern>/servlet/SilentPrintServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>

        <servlet-name>migration</servlet-name>

        <url-pattern>/migration/*</url-pattern>

    </servlet-mapping>

    <servlet-mapping>

        <servlet-name>intdownload</servlet-name>

        <url-pattern>/intdownload/*</url-pattern>

    </servlet-mapping>


    <servlet>
        <servlet-name>chart</servlet-name>
        <servlet-class>com.shuto.mam.webclient.beans.gls.service.SafeLockServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>chart</servlet-name>
        <url-pattern>/chart.do</url-pattern>
    </servlet-mapping>


    <!-- SCHEDULER SERVLET-MAPPING START -->

    <servlet-mapping>
        <servlet-name>SchedulerServlet</servlet-name>
        <url-pattern>/skd/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>assetimageservlet</servlet-name>
        <url-pattern>/images/asset/topology/*</url-pattern>
    </servlet-mapping>

    <!--SCHEDULER SERVLETS END -->

    <session-config>
        <!-- The session-timeout element defines the default session timeout
             interval for all sessions created in this web application. The
             specified timeout must be expressed in a whole number of minutes. -->
        <session-timeout>30</session-timeout>
    </session-config>

    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>

    <!-- The welcome-file-list contains an ordered list of welcome files
         elements. -->
    <welcome-file-list>
        <!-- The welcome-file element contains file name to use as a default
             welcome file, such as index.html -->
        <welcome-file>/ui/maximo.jsp?welcome=true</welcome-file>
    </welcome-file-list>

    <!--
        <security-constraint>
            <web-resource-collection>
                <web-resource-name>MAXIMO OSLC Provider</web-resource-name>
                <description>MAXIMO OSLC Provider Security</description>
                <url-pattern>/oslc/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>PUT</http-method>
                <http-method>DELETE</http-method>
            </web-resource-collection>
            <auth-constraint>
                <description>Roles that have access to MAXIMO OSLC</description>
                <role-name>maximouser</role-name>
            </auth-constraint>
            <user-data-constraint>
                <description>data transmission gaurantee</description>
                <transport-guarantee>NONE</transport-guarantee>
            </user-data-constraint>
        </security-constraint>

        <security-constraint>
            <web-resource-collection>
                <web-resource-name>MAXIMO UI pages</web-resource-name>
                <description>pages accessible by authorised users</description>
                <url-pattern>/ui/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
            </web-resource-collection>
            <web-resource-collection>
                <web-resource-name>MAXIMO UI utility pages</web-resource-name>
                <description>pages accessible by authorised users</description>
                <url-pattern>/webclient/utility/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
            </web-resource-collection>
            <auth-constraint>
                <description>Roles that have access to MAXIMO UI</description>
                <role-name>maximouser</role-name>
            </auth-constraint>
            <user-data-constraint>
                <description>data transmission gaurantee</description>
                <transport-guarantee>NONE</transport-guarantee>
            </user-data-constraint>
        </security-constraint>


        <login-config>
            <auth-method>BASIC</auth-method>
            <realm-name>MAXIMO Web Application Realm</realm-name>
        </login-config>
    -->

    <!--  Uncomment this login-config if you want to use form authentication and make
        sure the BASIC based login-config above is commented out.  NOTE: You still need the
        security-constraint about uncommented too.
      <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>MAXIMO Web Application Realm</realm-name>
        <form-login-config>
          <form-login-page>/webclient/login/login.jsp?appservauth=true</form-login-page>
          <form-error-page>/webclient/login/loginerror.jsp</form-error-page>
        </form-login-config>
      </login-config>
    -->

    <security-role>
        <description>MAXIMO Application Users</description>
        <role-name>maximouser</role-name>
    </security-role>

    <env-entry>
        <description>Indicates whether to use Application Server security or not</description>
        <env-entry-name>useAppServerSecurity</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>false</env-entry-value>
    </env-entry>

    <env-entry>
        <description>URL of the root of MAXIMO Application Help</description>
        <env-entry-name>helpurl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/maximohelp</env-entry-value>
    </env-entry>

    <ejb-ref id="EjbRef_1077125230246">
        <description>Remote Access Token Provider</description>
        <ejb-ref-name>ejb/maximo/remote/accesstokenprovider</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>psdi.security.ejb.AccessTokenProviderHomeRemote</home>
        <remote>psdi.security.ejb.AccessTokenProviderRemote</remote>
    </ejb-ref>

    <ejb-local-ref id="EJBLocalRef_1077125215444">
        <description>Local Access Token Provider</description>
        <ejb-ref-name>ejb/maximo/local/accesstokenprovider</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>psdi.security.ejb.AccessTokenProviderHomeLocal</local-home>
        <local>psdi.security.ejb.AccessTokenProviderLocal</local>
    </ejb-local-ref>

</web-app>
